html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-sm; //rem = px16
    background-color: $dirtyGreen;
    color: $white;
    line-height: 1.3;
    min-height: 100%;
    overflow-x: hidden;

    &.noscroll{
        overflow: hidden;
    }
}

.title{
    text-align: center;
    
    padding-top: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;

}

//Text
h1,h2,h3{
    font-weight: bold;
    line-height: 1.5rem;
    color: $white;
    margin-top: 0px;
}

h1{
    font-size: $font-med;
    margin-bottom: 1.5rem;
    line-height: 1.5;

    @include breakpoint-up(medium){
        font-weight: bold;
        font-size: 1.6rem;
    }

    @include breakpoint-up(large){
        font-size: $font-xlg;
    }
}

h2{
    font-size: $font-med;
    @include breakpoint-up(medium){
        font-size: $font-lg;
    }
}

p, ul{
    font-weight: light;
    line-height: 1.5;
    font-size: $font-sm;
    @include breakpoint-up(large){
        font-size: $font-med;
    }
}

a{
    text-decoration: none;
}



.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
}

//spacing
.container {
    max-width: 69.375rem;
    margin: 0 auto;

    &--pall{
        padding-top: 4.375rem;    
        padding-bottom: 4.375rem; 
        padding-right: 1.5rem;
        padding-left: 1.5rem; 
    }
    &--py{
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;    
    }
    &--px{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--pt{
        padding-top: 4.375rem;   
    }
    &--pr{
        padding-right: 1.5rem;
    }
    
    &--pb{
        padding-bottom: 4.375rem;
    }
    &--pl{
        padding-left: 1.5rem;
    }  

}


//Visibility
.hide-for-mobile {
    //hide for tablet and mobile
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    //hide for desktop viewport widths
    @include breakpoint-up(large){
        display: none;
    }
}

.overlay{
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px; 
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(6px);
}


.box_grid{
    display: grid;
    //grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));
    grid-template-columns: 1fr;
    gap: 1.375rem;

    @include breakpoint-up(large){
        grid-template-columns: repeat(2, 1fr);
    }

}

.front, .back {

    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve3d;
    transition: all 0.4s;
}
     
.back {
    transform: rotateY(-180deg);
}

.flipped .back {
    transform: rotateY(0deg);
}
  
.flipped .front {
    transform: rotateY(180deg);
}

.info{
    
    
    width: 1em;
    height: 1em;
    background-color: $darkGrey;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.2em;
    cursor: pointer;
    
    &:before{
        content:"?";
        color: $white;
        font-size: 0.5em;
    }

    &:hover{
        background-color: $pastelPink;
    }

}

.info-expand{
    visibility: hidden;
    width: 6em;
    height: 0.5em;
    background-color: rgba(255,255,255,0.3);
    font-weight: lighter;
    color: $white;
    font-size: 0.5em;
    margin-left: 0.5em;
    padding: 0 0.5em;
    align-items: center;
    justify-content: center;
 
    &:before{
        content: "Click on the cards!";

    }
    
}
