.header{
    width: 100%;
    position: relative;
    z-index: 1;
    @include breakpoint-up(large){
        padding-left: 55.85vw;
   
    }

    &.open {

        .overlay {
            display: block;
        }
        
        .header__toggle{
            > span:first-child{
                transform-origin: 3px 1px;
                transform: rotate(45deg) translateY(-0.2rem) translateX(0.1rem);   
            }
            
            > span:nth-child(2){
                opacity: 0;
            }
    
            > span:last-child{
                transform: rotate(-45deg) translateY(0.25rem) translateX(0);
            }
       
        }
    }

    nav{
        position: relative;
        padding-top: 1.5625rem;
        padding-bottom: 1.5625rem;
        @include breakpoint-up(medium){
            padding-top: 1.625rem;
            padding-bottom: 1.25rem;
        }
       
    }

    &__toggle { //Mobile menu
        padding-left: 90vw;
        
        > span {
        
            display: block;
            width: 26px;
            height: 2px;
            background-color: $white;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;
            &:not(:last-child){
                margin-bottom: 3px;
            }
            
        }
    }

       
    &__links{
    

        a{
            font-size: $font-med;
            font-weight: regular;
            color:$white;
            position: relative;
            transition: color 300ms ease-in-out;

            &:not(:last-child){
                margin-right: 6.5vw;
            }

            &:hover{
                color: rgba(255,255,255,0.5);

                &::before{
                   color: $white;
                }
      
            }

       
    
        }
    }



    &__menu{
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
        border-radius: 20px;
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 1.5rem;
    
        a{
            font-size: $font-med;
            font-weight: regular;
            color: $white;
            display: block;
            padding-left: 0.625rem;
            padding-right: 0.625;
            &:not(:last-child){
                padding-bottom: 4.25rem;
            }
            text-align: center;
        }
    }

   
   


}