.interests{

    background-color: $white;
    padding-bottom: 3rem;
    padding-right: 2vw;
    h1{
        color: $darkGrey;
    }
    h2{
        color: $darkGrey;
        margin-left: 8vw;
        margin-bottom: 3vh;
    }
    ul{
        color: $darkGrey;
        line-height: 2;
        margin-left: 10.5vw;

    }

}