.portfolio{
    $color-primary: #69f0ae;
$color-secondary: #18ffff;
$color-bg: #37474f;

* {

  box-sizing: border-box;
}
p{
    color: $darkGrey;

    br {
        content: "";
        display: block;
        margin-bottom: 10px;
     }
    
}
ul{
  color: $darkGrey;
  margin-left: 3rem;
}
a{
    color: $pastelPink;
    &:hover{
        color: $pastelPink;
    }
    @include breakpoint-up(large){
      color: $darkGrey;
    }
}

.title{
  padding: 0;
  margin: 0;
}

.page-wrapper {
  max-width: 860px;
  padding: 40px;
  margin: 0 auto;
}

.expandable-card {
  position:relative;
  margin-bottom: 8px;
}

[cardContent]{
  position: relative;
  background: white;
  border-radius: 0.381px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  &:hover{
    transform:scale(1.1);
  }
  cursor: pointer;
  [collapsedContent] {
    display: flex;
    flex-direction: row;
    padding: 1.14rem;
    
    @include breakpoint-down(medium){
      border-top:28px solid #ffffff;
      border-bottom:28px solid #ffffff;
    }
    
    
    

  }

  [expandedContent] {
    visibility:hidden;
    position:absolute;
    left: 0;
    right:0;
    bottom:0;
    opacity: 0;
    height: 70vh;
    overflow-y: scroll;
  }
  
}
.scroll-box {
  padding: 1.14rem;
  
}


.expanding-card--backdrop {
  background: black;
  opacity: .50;
}

.expandable-card--title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.14rem;
  margin-bottom: 0.381rem;
  color: $darkGrey;
  @include breakpoint-up(medium){
    font-size: 21px;
  }
}
.expandable-card--sub-title {
  font-size: 14px;
  color: #888888;

}

.expandable-card--profile-image {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-primary;
  color: black;
  font-size: 21px;
  font-weight: bold;
  border-radius: 1000px;
}

.col:first-child {
  margin-right: 24px;
}


.expanding-card--placeholder {
  position:relative;
  height: 0;
  visibility:hidden;
}

/*8.mock-content {
    color: $darkGrey;
    margin: 0;
    

}*/
.mock-content {
    margin: 0;
    padding: 0;
  }


.keywords{
  font-size: 0.75rem;
  @include breakpoint-up(medium){
    font-size: $font-sm;
  }
}

}
