*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: $white;
  &:hover{
    color: #7E7D7D;
  }
    
}
ul {
  list-style-type: circle;
  color: $darkGrey;

}

h2{
  font-size: $font-sm;
  @include breakpoint-up(medium){
    font-size: $font-med;
  }

  
}

.timeline-container {
  max-width: 1000px;
  margin: 0 auto;
}

#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {//line
  content: "";
  width: 3px;
  height: 100%;
  background: $pastelPink;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon { //balls
  background: $pastelPink;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon .fa {
  position: relative;
  top: 13px;
  left: 14px;

  color: $white;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 1px 5px 0 rgba(253, 76, 98, 0.2);
  -moz-box-shadow: 1px 5px 0  rgba(253, 76, 98, 0.2);
  -ms-box-shadow: 1px 5px 0  rgba(253, 76, 98, 0.2);
  box-shadow: 1px 5px 0  rgba(253, 76, 98, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2{

  padding: 15px;
  background: $pastelPink;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;



}

#timeline .timeline-item .timeline-content p {
  color: $darkGrey;
  padding-top: 10px;
  font-size: $font-sm;
}
#timeline .timeline-item .timeline-content:before { //triangle
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid $pastelPink;
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid $pastelPink;
}


@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid $pastelPink;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}


/* Animation CSS */

/* icon animation */
.timeline-icon.is-hidden {
  visibility: hidden;
}
.timeline-icon.animate-it {
  visibility: visible;
   -webkit-animation: bounce-1 0.6s;
   -moz-animation: bounce-1 0.6s;
    animation: bounce-1 0.6s;
}

/* content block animation */
.timeline-content.is-hidden {
  visibility: hidden;
}
.timeline-content.animate-it {
  visibility: visible;
   -webkit-animation: bounce-2 0.6s;
   -moz-animation: bounce-2 0.6s;
    animation: bounce-2 0.6s;
  }
@media only screen and (min-width: 769px) {
  /* Inverse bounce effect on even content blocks */
.timeline-content.right.animate-it {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s;
  }
}
@media only screen and (max-width: 768px) {
  /* Inverse bounce effect on all content blocks */
.timeline-content.animate-it, .timeline-content.right.animate-it {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s;
  }
}

