$darkGrey:rgb(19, 19, 19);
$lightBLue: rgb(0, 93, 201);
$white: rgb(255, 255, 255);
$dirtyGreen: #2C3C44;
$pastelPink: #D99FAB;
$brightYellow: #D9BB00;
$brightBlue: #00D9D9;
$deepBlue: #028AD3;

//font sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 2rem; //32px
$font-xlg: 2.5rem; //40px