@import "animation";
@import "variables";
@import "mixins";
@import "globals";


@import "header";
@import "hero";
@import "timeline";
@import "interests";
@import "qualifications";
@import "contact";
@import "portfolio";
